<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctions120230621102036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/61f39092-6e4b-458d-aa1f-b0899f7bfcc9/resourceGroups/AzureFunctionsDemo/providers/Microsoft.Web/sites/AzureFunctions120230621102036</ResourceId>
    <UserName>$AzureFunctions120230621102036</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctions120230621102036.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>